.DS_Store
.idea
nohup.out
.ipynb_checkpoints/
data

MNIST_data
.gitignore
__pycache__/
checkpoint
checkpoints/1024_hidden/network.ckpt
checkpoints/1024_hidden/network.ckpt.meta
checkpoints/90_pc_trial_001/checkpoint
checkpoints/90_pc_trial_001/network.ckpt
checkpoints/90_pc_trial_001/network.ckpt.meta
checkpoints/90_pc_trial_001/summaries/
figures/MNIST LeNet++ with 2 Deep Features.png
network.ckpt
network.ckpt.meta
summaries/
/Proj_Centroid_Loss_LeNet/LeNet_plus/nohup.out
